@font-face {
                            font-family: PF;
                            font-display: swap;
                            src: url("../fonts/PF-DinDisplayPro-Regular.woff2") format("woff2"), url("../fonts/PF-DinDisplayPro-Regular.woff") format("woff");
                            font-weight: 400;
                            font-style: normal;
                            }
@font-face {
                            font-family: PFDinDisplayPro;
                            font-display: swap;
                            src: url("../fonts/PFDinDisplayPro-Medium.woff2") format("woff2"), url("../fonts/PFDinDisplayPro-Medium.woff") format("woff");
                            font-weight: 500;
                            font-style: normal;
                            }
